<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCESS_TOKEN_API</key>
	<string>$(ACCESS_TOKEN_API)</string>
	<key>ACCESS_TOKEN_WIDGET</key>
	<string>$(ACCESS_TOKEN_WIDGET)</string>
	<key>SERVICE_ID_AFTERPAY</key>
	<string>$(SERVICE_ID_AFTERPAY)</string>
	<key>SERVICE_ID_APPLE_PAY</key>
	<string>$(SERVICE_ID_APPLE_PAY)</string>
	<key>CONFIGURATION</key>
	<string>$(CONFIGURATION)</string>
	<key>WALLET_ID_COLES_PAY</key>
	<string>$(WALLET_ID_COLES_PAY)</string>
	<key>SERVICE_ID_COLES_PAY</key>
	<string>$(SERVICE_ID_COLES_PAY)</string>
	<key>SERVICE_ID_MPGS</key>
	<string>$(SERVICE_ID_MPGS)</string>
	<key>SERVICE_ID_MPGS_TEST</key>
	<string>$(SERVICE_ID_MPGS_TEST)</string>
	<key>SERVICE_ID_CLICK_TO_PAY</key>
	<string>$(SERVICE_ID_CLICK_TO_PAY)</string>
	<key>SERVICE_ID_PAYPAL</key>
	<string>$(SERVICE_ID_PAYPAL)</string>
	<key>SERVICE_ID_GPAYMENTS</key>
	<string>$(SERVICE_ID_GPAYMENTS)</string>
	<key>SERVICE_ID_ZIP</key>
	<string>$(SERVICE_ID_ZIP)</string>
	<key>MERCHANT_ID_APPLE_PAY</key>
	<string>$(MERCHANT_ID_APPLE_PAY)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon-Sandbox</string>
</dict>
</plist>
